.validate-error {
  color: #f27474;
}

.btn-send-code {
  border: 1px solid #d9dee3 !important;
}

.cus-1.validate-error .input-group-text {
  border: 1px solid #f27474;
  color: #f27474;
}

.cus-1.validate-error .input-group > .form-control {
  border: 1px solid #f27474;
}
.cus-1.validate-error .btn-send-code {
  border: 1px solid #f27474 !important;
  color: #f27474;
}

.cus-1.validate-error .form-label {
  color: #f27474;
}
